<div class="w2ui-page page-0">
    <div class="w2ui-field w2ui-span8" style="clear: both">
        <label>Customer Number:</label>
        <div>
            <input id="customerNo" name="customerNo" type="text" size="35" readonly/>
        </div>
    </div>
    <div class="w2ui-field w2ui-span8" style="clear: both">
        <label>Customer Name:</label>
        <div>
            <input id="customerName" name="customerName" type="text" size="35" readonly/>
        </div>
    </div>
    <div class="w2ui-field w2ui-span8" style="clear: both">
        <label>Customer Type:</label>
        <div>
            <input id="customerType" name="customerType" type="text" size="35" readonly/>
        </div>
    </div>
    <div class="w2ui-field w2ui-span8" style="clear: both">
        <label>Delivery Code:</label>
        <div>
            <input id="deliveryCode" name="deliveryCode" type="text" size="35" readonly/>
        </div>
    </div>
    <div class="w2ui-field w2ui-span8" style="clear: both">
        <label>WHSE:</label>
        <div>
            <input id="wHse" name="wHse" type="text" size="35" readonly/>
        </div>
    </div>
    <div class="w2ui-field  w2ui-span8">
        <label>Active:</label>
        <div>
            <label>
                <input name="active" type="checkbox"/>
            </label>
        </div>
    </div>
</div>