<div class="w2ui-page page-0">
    <div class="w2ui-field w2ui-span8" style="clear: both">
        <div>
            <input id="temmplateUpload" name="temmplateUpload" type="field" maxlength="100" style="width: 280px !important;">
            &nbsp;
            <button id="btnTemmplateUpload" class="w2ui-btn  w2ui-btn-blue" name="Save">Upload</button>
            <!-- &nbsp;
            <button id="btnReset" class="w2ui-btn  w2ui-btn-blue" name="Reset">Reset</button> -->
        </div>
    </div>
</div>