<div class="w2ui-page page-0">
    <div class="w2ui-field w2ui-span8">
        <label>Customer #:</label>
        <div>
            <input name="customerNo" type="text" size="25" />
            &nbsp;
            <button id="btnCustomerNo" class="w2ui-btn  w2ui-btn-blue" onclick="validateCustomerNo()">Validate Customer#</button>
            &nbsp;
            <button id="btnLoadCustomer" class="w2ui-btn  w2ui-btn-blue" onclick="loadingCustomerDetails()">Customer Details...</button>
            &nbsp;
            <input id="labelCustomerNo" name="labelCustomerNo" readOnly style="color:red" size=80 disabled>
        </div>
    </div>
    <div class="w2ui-field w2ui-span8" style="clear: both">
        <label>Delivery Date:</label>
        <div>
            <input id="deliveryDate" name="deliveryDate" type="list" size="25" />
            &nbsp;
            <button id="btnDeliveryDate" class="w2ui-btn  w2ui-btn-blue" onclick="validateDeliveryDate()">Validate Delivery Date</button>
            &nbsp;
            <input id="labelDeliveryDate" name="labelDeliveryDate" readOnly style="color:red" size=85 disabled>
        </div>
    </div>
</div>