.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover {
    position: relative;
    background-image: -webkit-linear-gradient(#69b1e0, #4a96d3);
    background-image: -moz-linear-gradient(#69b1e0, #4a96d3);
    background-image: -ms-linear-gradient(#69b1e0, #4a96d3);
    background-image: -o-linear-gradient(#69b1e0, #4a96d3);
    background-image: linear-gradient(#2866a0, #163c5c);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff69b1e0', endColorstr='#ff4a96d3', GradientType=0);
    border-top: 1px solid #2c6ca0;
    border-bottom: 1px solid #16457a;
  }

  .w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-caption,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image > span,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node td.w2ui-node-dots {
  color: #161616;
  text-shadow: 0px 0px 0px #ffffff;
  pointer-events: none;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-caption,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-caption,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-image,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-image,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-image > span,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-image > span,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected td.w2ui-node-dots,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover td.w2ui-node-dots {
  color: #e8e9e3 !important;
  text-shadow: 1px 1px 2px #666666 !important;
}

  .w2ui-grid .w2ui-grid-footer {
    position: absolute;
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 24px;
    overflow: hidden;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    box-shadow: 0px -1px 4px #eeeeee;
    color: #0f2c11;
    background-color: #f8f8f8;
    border-top: 1px solid #dddddd;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 11px;
  }
